$primary: #313237;
$secondary: #393939;
$for-icons: #b4bdc4;
$for-elements: #e2e6e9;
$back-hover: #fafbfc;
$white: #fff;
$green: #27ae60;
$red: #eb5757;
$colorRoseRed: #d53c51;
$colorRoseGold: #fcdbc1;

$header-height: 64px;
